@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '楷体', sans-serif;
}

:root
{
    --home-footer-height: 90px;
    --home-logo-height: 100px;
    --home-container-padding-top: 56px;
    --home-search-bar-width: 80%;
    --home-advance-option-width: calc(80% - 100px);
    --home-advance-option-height: 40px;
    --home-advance-option-label-width: 121px;
    --home-advance-option-select-margin-left: 40px;
    --home-advance-option-select-width: calc(
            100%
            - var(--home-advance-option-label-width)
            - var(--home-advance-option-select-margin-left)
    );

    --font-size-base: 16px;
    --font-size-middle: 18px;
    --font-size-large: 20px;

    --show-header-height: 96px;
    --show-header-margin-left: 30px;
    --show-search-bar-width: 561px;
    --show-details-margin-right: 24px;

    --primary-margin-bottom: 38px;
    --secondary-margin-bottom: 30px;
    --smallest-margin-bottom: 12px;

    --logo-ratio: 350 / 100;
    --logo-url: url("./images/logo.png");
    --background-image-url: url("./images/background.png");
    --primary-color: #318640;
    --divider-border-color: #ebebeb;
    --highlight-background-color: #ffe58f;
}

/*
    Breakpoint:
    1. Desktops: 1025px - 1200px
    2. Laptop: 769px — 1024px
    3. IPads or tablets: 481px — 768px
    4. Mobile: 320px - 480px
*/