@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '楷体', sans-serif;
}

:root
{
    --font-size-base: 16px;

    --search-bar-normal-width: 561px;

    --block-margin-bottom: 36px;
    --sub-block-margin-bottom: 24px;
    --header-block-margin-left: 30px;

    --logo-url: url("./images/logo.png");
    --background-image-url: url("./images/background.png");

    --primary-color: #318640;
    --segement-border-color: #ebebeb;
}